ion-tab-button {
    --background-focused: #718355;
    --color-selected: #718355;
    --padding-end: 0px;
    --padding-start: 10px;
    --padding-bottom: 0px;
    --margin-left:0px;
    --margin-right:0px;
}