<ion-content [fullscreen]="true">
  <div class="list">
    <h2 class="title">Seznam opazovanj</h2>
    <div id="list-container">
      <div *ngFor="let item of observations" class="container">
        <div class="bird-container-title">
          <span>{{ item.birdName }}</span>
        </div>
        <p class="bird-container-date">
          <span>Datum: {{ item.date }}</span>
          <span class="bird-container-col">Št. osebkov: {{ item.col }}</span>
        </p>
        <div *ngIf="item.comment" class="bird-container-details">
          <span>{{ item.comment }}</span>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
